/*Colors*/
$black: #000
$white: #fff
$blue: #00308F
$light-blue: rgb(173,216,230)
$green: #66CDAA
$yellow: #FCF55F
$red: #DC143C
$metallic: #7A7B77

$mobile-width-only: 767px
$tablet-width: 768px
$desktop-width: 1024px
