/*Colors*/
$black: #000
$white: #fff
$grey: #c0c0c0
$light-blue: rgb(156, 252, 248)
$light-purple: rgb(110, 123, 251)
$lightest-blue: #b8e1fc
$lighty-blue: #90bcea
$shade-blue: #90bff0
$dark-blue: #6ba8e5
$grey-blue: #bdf3fd
$metallic-rgb: rgb(192, 192, 192)
$pink: #ffcfdf
$darker-blue: #b0f3f1
$darker-white: #ECE9E6
$red: #FF0000

$mobile-width-only: 767px
$tablet-width: 768px
$desktop-width: 1024px
